body{
    display: flex; 
    justify-content: center; 
    align-items: center; 
    padding-top: 200px; 

} 
#box{
    background-color:orange;
    height: 300px; 
    width: 300px; 
    position: relative; 
    margin-top: 150px; 
    border-radius: 50%; 
    box-shadow: 1px 1px 10px 5px black;
} 
#eye1{
    background-color: bisque;
    height: 60px;
    width: 60px; 
    position: absolute; 
    margin-top: 90px; 
    border-radius: 50%; 
    margin-right: 130px; 

} 
#eye2{ 
    background-color: bisque;
    height: 60px;
    width: 60px; 
    position: absolute;
    margin-top: 90px;  
    border-radius: 50%; 
    margin-left: 130px; 


} 
#iris1{
    background-color: white;
    height: 30px;
    width: 30px; 
    position: absolute;
    margin-top: 90px;  
    border-radius: 50%; 
    margin-left: 130px; 


} 
#iris2{ 
    background-color: white;
    height: 30px;
    width: 30px; 
    position: absolute;
    margin-top: 90px;  
    border-radius: 50%; 
    margin-right: 130px; 

    
} 
#mouth{
    position: absolute;
    margin-top: 250px;
    width: 150px;
    height: 100px;
    border-radius: 50%;
    border-bottom: 6px solid black; 
    border-top: none;
} 
#eye3{ 
    background-color:black;
    height: 30px;
    width: 30px; 
    position: absolute;
    margin-top: 90px;  
    border-radius: 50%; 
    margin-left: 130px; 


} 
#eye4{  
    background-color:black;
    height: 30px;
    width: 30px; 
    position: absolute;
    margin-top: 90px;  
    border-radius: 50%; 
    margin-right: 130px; 


    
} 
#iris3{ 
    position: absolute;
    margin-bottom:30px;
    width: 70px;
    height: 25px;
    border-radius: 50%;
    border-top: 6px solid black; 
    border-bottom: none; 
    margin-left: 135px;  
    margin-top: 70px;
    
} 
#iris4{ 
    position: absolute;
    margin-bottom:30px;
    width: 70px;
    height: 25px;
    border-radius: 50%;
    border-top: 6px solid black; 
    border-bottom: none; 
    margin-right: 135px;  
    margin-top: 70px;
    

} 
#eye5 {  
    background-color:whitesmoke;
    height: 15px;
    width: 15px; 
    position: absolute;
    margin-top: 90px;  
    border-radius: 50%; 
    margin-right: 130px; 


} 
#eye6 { 
    background-color:whitesmoke;
    height: 15px;
    width: 15px; 
    position: absolute;
    margin-top: 90px;  
    border-radius: 50%; 
    margin-left: 130px; 


} 
body{
    background-image: url("pngtree-emoji-blue-gradient-social-media-background-image_767937.jpg"); 
    background-repeat: no-repeat; 
    background-size: 100%;
}